*.dSYM
*.o
*.plist
.deps
.dirstamp
.DS_Store
aclocal.m4
autom4te.cache
cachegrind.out.*
callgrind.out.*
clang_output_*
compile
config.h*
config.log
config.status
configure
depcomp
gmon.out
install-sh
Makefile
Makefile.in
missing
notifywait
stamp-h1
