*.dSYM
*.o
.deps
.dirstamp
.DS_Store
aclocal.m4
autom4te.cache
cachegrind.out.*
callgrind.out.*
clang_output_*
config.log
config.status
configure
depcomp
gmon.out
install-sh
Makefile
Makefile.in
missing
notifywait
notifywatch
config.h*
stamp-h1
